:root{
    --main-color:#7ECE73;
    --dark-text-color: #fffeff;
    --light-text-color: #0c0c0c;
    --paragraph-color: #b8b6b6;
    --border-color: #ccc9c9b3;
}

@media only screen and (max-width:480px){
    body{
        height: 100vh;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
    }
    .animateLeftFadeIn, .animateRigthFadeOut {
        animation: none;
    }
    .nav-bar .navbar-toggle{
        flex-direction: row;
        justify-content: right;
        padding-right: 20px;
        width: 100%;
        height: 45px;
    }
    .nav-bar .navbar-link{
        width:100% ;
        height: 75px;
    }
    .navbar-link .about, .resume, .works, .blog, .contact{
        display: inline-block;
        margin-top: 0;
        border-bottom: none;
        width: auto;
        padding-left: 6px;
        padding-right: 6px;
        border-right: 1px solid var(--border-color);
        text-align: center;
        height: auto;
    }
    .portfolio{
        display: block;
    }
    .portfolio-profile{
        position: none;
        top: 20px;
        width: 100%;
    }
  
    .portfolio-side .portfolio-about,.portfolio-side .portfolio-resume,.portfolio-side .portfolio-works,.portfolio-side .portfolio-blog,.portfolio-side .portfolio-contact{
        position: relative;
        top: 40px;
        right: 0;
        left: 0;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
    .portfolio-about .about-content{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .portfolio-about .about-services .service-info{
        grid-template-columns: 1fr;
        gap: 10px;
        
    }
    .portfolio-about .about-services .service-info div{
        border: 1px solid var(--border-color);
    }
    .portfolio-resume .skills{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .portfolio-resume .skills .design{
        border-right: none;
        padding:0 14%;
    }
    .portfolio-works .project-card {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .portfolio-works .project-card .card{
        width: 100%;
    }
    .portfolio-contact .address{
        grid-template-columns: 1fr;
    }
    .portfolio-contact .map iframe{
        width: 100%;
    }
    .portfolio-contact .contact-form .form div{
        flex-direction: column;
    }
    .portfolio-contact .contact-form input[type=button]{
        width: 100%;
    }
    .portfolio-contact .contact-form input[type=text]{
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width:481px) and (max-width:768px){
    body{
        height: 100vh;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
    }
    .animateLeftFadeIn, .animateRigthFadeOut {
        animation: none;
    }
    .nav-bar .navbar-toggle{
        flex-direction: row;
        justify-content: right;
        padding-right: 20px;
        width: 100%;
        height: 45px;
    }
    .nav-bar .navbar-link{
        width: 100%;
        height: 75px;
        padding: 8px 12px;
    }
    .navbar-link .about, .resume, .works, .blog, .contact{
        display: inline-block;
        margin-top: 0;
        border-bottom: none;
        width: auto;
        padding-left: 20px;
        padding-right:20px;
        border-right: 1px solid var(--border-color);
        text-align: center;
        height: auto;
    }
    .portfolio{
        display: block;
    }
    .portfolio-profile{
        position: none;
        top: 20px;
        width: 100%;
    }
  
    .portfolio-side .portfolio-about,.portfolio-side .portfolio-resume,.portfolio-side .portfolio-works,.portfolio-side .portfolio-blog,.portfolio-side .portfolio-contact{
        position: relative;
        top: 40px;
        right: 0;
        left: 0;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
    .portfolio-about .about-content{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .portfolio-about .about-services .service-info{
        grid-template-columns: 1fr;
        gap: 10px;   
    }
    .portfolio-about .about-services .service-info div{
        border: 1px solid var(--border-color);
    }
    .portfolio-resume .skills{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .portfolio-works .project-card {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .portfolio-works .project-card .card{
        width: 100%;
    }
    .portfolio-contact .address{
        grid-template-columns: 1fr;
    }
    .portfolio-contact .map iframe{
        width: 100%;
    }
    .portfolio-contact .contact-form .form div{
        flex-direction: column;
    }
    .portfolio-contact .contact-form input[type=button]{
        width: 100%;
    }
    .portfolio-contact .contact-form input[type=text]{
        display: block;
        width: 100%;
    }
   

}
@media (min-width:769px) and (max-width:1024px){
}
